/* GLOBAL */
* {
  user-select: none;
}
:root {
  --sidebar-animation-duration: 500ms;
  --sidebar-link-bg: ;
}

/* Scrollbar */
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(109, 40, 217);
  background-clip: content-box;
  border: 5px rgba(0, 0, 0, 0) solid;
}


/* #region UTILS & FIXES */
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-lazy-preloader {
  z-index: -1 !important;
}

.swiper-wrapper:hover {
  cursor: grab;
}

.swiper-wrapper:active {
  cursor: grabbing;
}
/* #endregion */

/* #region ANIMATIONS */

/* Sweep to Right */
.sweep-to-right {
  position: relative;

  transition: color 300ms ease-in-out;
}

.sweep-to-right:hover {
  color: white;
}

.sweep-to-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(91, 33, 182);
  transform-origin: 0 50%;

  transform: scaleX(0);
  transition: transform 300ms ease-out;

  z-index: -1;
}

.sweep-to-right:hover::before {
  transform: scaleX(1);
}

/* Background Image */
.transition-bg-image {
  transition: background-image 500ms ease-in-out;
}
/* #endregion */
