.section-1 {
  height: 100vh;
}

/* Home Swiper */

#homeSwiper {
  height: 100%;
  width: 100%;
}

#homeSwiper .swiper-slide img {
  filter: blur(5px) brightness(0.3);

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* Character Swiper */
#characterSwiper .swiper-slide {
  height: unset !important;
}

.character-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: top;
  /* FIXME: Not working */
  overflow: visible;

  @apply col-span-1 p-5;
}

#characterSwiper .bg-parallax {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;

  background-image: url("../assets/characters/bg-character.png");
  background-position: center;
  background-size: cover;

  filter: blur(2px) brightness(0.3);
}

#characterSwiper .swiper-wrapper > .swiper-slide {
  @apply grid grid-cols-2 md:grid-cols-3 md:px-20;
}

.character-name {
  @apply md:text-4xl;
}

.character-description {
  @apply pt-3 font-light;
}

.col-content {
  @apply col-span-1 md:col-span-2 p-4 sm:p-10 text-white;
}

/* Setting Swiper */
#settingSwiper .swiper-slide {
  width: 60vmin;
  height: 60vmin;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
